<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-[--bg-color] text-[--text-color] font-poppins">
    <header class="static md:fixed top-0 left-0 w-full py-8 px-8 sm:px-16 md:px-20 lg:px-36 bg-transparent  flex flex-row  justify-between items-center z-50">
      <a href="#" class="  font-semibold text-[--text-color] text-lg md:text-xl lg:text-2xl " >ldfavale</a>
      <button  class='p-[0.6rem] pr-0  md:hidden transition-all '>
        <svg class="w-5 h-4  text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor"  strokeWidth="1.7" d="M1 1h15M1 7h15M1 13h15"/>
       </svg>
      </button>

      <nav class="  hidden md:flex md:flex-row [&>a]:transition-all md:[&>a]:text-base lg:[&>a]:text-lg [&>a]:text-[--text-color] [&>a]:font-semibold md:[&>a]:ml-7 lg:[&>a]:ml-14 [&>a:hover]:text-[--main-color]">
        <a href="#home" >Home</a>
        <a href="#about" >About</a>
        <a href="#education" >Education</a>
        <a href="#skills" >Skills</a>
        <a href="#contact" >Contact</a>
      </nav>
     </header>
   <%# bg-[url('./leo_favale_bn.png')] %>
    <section id="home" class=" md:h-screen  flex flex-col md:flex-row  items-center  justify-center md:justify-between py-0 px-[7%] sm:px-[7%] lg:px-[9%]    bg-no-repeat bg-[607px_701px_] bg-[right_80px_top_100px]  ">
      <div class=" md:w-1/2 order-1 ">
        <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold   leading-relaxed mb-2 md:mb-4">Hi, i'm <span>Leo Favale</span></h1>
        <div class="relative  max-w-lg">
          <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-[--main-color]  leading-loose mb-4 md:mb-6" >Full Stack Developer</h3>
          <p class="text-xs md:text-sm lg:text-base mb-12" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit fugit repellat iste fugiat laborum recusandae, aspernatur numquam natus sunt, tempore vel sequi rerum nobis voluptatibus quas, a adipisci porro.</p>
          <div class="relative flex justify-between   w-64 md:w-72 lg:w-80 h-12 md:h-14 lg:h-16 ">
            <a href="#" class="
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-0
            before:h-full
            before:bg-[--bg-color]
            before:-z-10
            hover:before:w-full
            hover:text-[--main-color]
            before:transition-all
            z-10
            overflow-hidden
            text-base
            md:text-lg
            lg:text-xl
            font-semibold
            text-[--bg-color]
            relative
            inline-flex
            justify-center
            items-center
            w-28
            md:w-32
            lg:w-36
            h-full
            bg-[--main-color]
            border-[--main-color]
            border-2
            rounded-md">Hire me</a>
           <a href="#" class="
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-0
            before:h-full
            before:bg-[--main-color]
            before:-z-10
            hover:before:w-full
            hover:text-[--bg-color]
            before:transition-all
            z-10
            overflow-hidden
            md:text-lg
            lg:text-xl
            font-semibold
            text-[--main-color]
            relative
            inline-flex
            justify-center
            items-center
            w-28
            md:w-32
            lg:w-36
            h-full
            bg-[--bg-color]
            border-[--main-color]
            border-2
            rounded-md">Let's talk</a> </div>
        </div>
      </div>
      <div class="mb-12 mt-8 md:mb-0 md:w-1/2  md:order-2 flex justify-start items-center lg:mt-10 xl:mt-20">
        <img src="./assets/leo_favale_bn.png"   />
      </div>
  <div class="mt-24 mb-24 md:my-0 order-4 md:absolute bottom-8 w-44 flex justify-between">
      <%
        ["facebook","twitter","linkedin"].each do | social |
      %>
           <a  href="#" class="
           relative
           flex
           justify-center
           items-center
           w-10 h-10
           md:w-10 md:h-10
           bg-transparent
           text-[--main-color]
           p-0 text-lg
           border-2
           border-[--main-color]
           rounded-full
           before:transition-all
           before:content-['']
           before:absolute
           before:top-0
           before:left-0
           before:-z-10
           overflow-hidden
           before:bg-[--main-color]
            before:h-full
           before:w-0
           hover:before:w-full
           hover:text-[--bg-color]
           ">
            <i class='bx bxl-<%=social%>'></i>
          </a>
          <%# <a  href="#" class=" relative flex justify-center items-center w-10 h-10 bg-transparent text-[--main-color]  p-0 text-lg border-2 rounded-full border-[--main-color] before:content-[''] before:bg-red-500 before:overflow-hidden ">
            <i class='bx bxl-twitter'></i>
          </a>
          <a  href="#" class=" relative flex justify-center items-center w-10 h-10 bg-transparent text-[--main-color]  p-0 text-lg border-2 rounded-full border-[--main-color] before:content-[''] before:bg-red-500 before:overflow-hidden ">
            <i class='bx bxl-linkedin'></i>
          </a> %>
      <% end %>
      </div>

    </section>
    <main class="">

      <%= yield %>
    </main>
  </body>
</html>
